.aiMessage {
    background-color: #4e598f;
}

.aiMessage,
.userMessage {
    box-sizing: border-box;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 0.8rem 20%;
    width: 100%;
}

.messageContent {
    width: 100%;
    margin: 1rem;
}