#sidebar {
    align-items: center;
    background-color: #494D73;
    overflow-y: scroll;
    padding: 1rem;
    width: 20%;
}

#sidebarHead {
    display: flex;
    justify-content: space-between;
}

#newChat {
    width: 100%;
}

#closeSidebar {
    margin-left: 10px;
}

.headButton {
    border: solid 1px #8697DD;
    border-radius: 5px;
    color: #fff;
    padding: 5px;
}

.headButton:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
    border: solid 1px #fff;
}

.headButton:active {
    background-color: #fff;
    color: #494D73;
}