.backdrop {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100vh;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
}

.modal {
    background-color: #3d456f;
    border-radius: 16px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
    color: #fff;
    left: 50%;
    min-width: 200px;
    padding: 1rem;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
}

.modalHeader {
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 2px #fff;
    padding-bottom: 0.5rem;
}

.modal h1 {
    margin-top: none;
    margin-block-start: 0;
    margin-block-end: 0;
}

.modal form {
    padding: 0;
    border: none;
}

.modalButton {
    float: right;
    min-width: 30px;
    text-align: center;
}

.modalInput {
    margin-bottom: 0.4rem;
    width: 100%;
}

.modalInput {
    background: #2F3555;
    border: solid 1px transparent;
    border-radius: 5px;
    box-sizing: border-box;
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem;
}

.modalInput:hover {
    border: solid 1px #fff;
}

.errorContainer {
    display: flex;
    justify-content: center;
}