#chat,
#chatPlaceholder {
    background-color: #57639E;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow-x: hidden;
}

#chat {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    overflow-y: scroll;
}

#chatPlaceholder h1 {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 2rem;
}

#chatPlaceholder {
    justify-content: center;
    display: flex;
    padding: 1rem 15%;
}

#placeholderInner {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    text-align: center;
}

.placeholderGroup {
    margin: 0 2rem;
    width: 33%;
}

.placeholderGroup p {
    background: rgba(000, 000, 000, 0.2);
    border-radius: 5px;
    padding: 1rem;
}